

footer {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--theme-grey);
    position: relative;
}

.footer-section-header {
    font-weight: bold;
    font-size: 1.5rem;
  }

 



