
header {
    flex-wrap: wrap;
    display: flex;
    background-color: var(--matterhorn-color);
    padding: 10px 3svw;
    justify-content: space-between;
    font-family: Roboto, system-ui, sans-serif;
    gap: 1rem;
    
}

.sign-up {
    background-color:var(--theme-green) ;
    font-size: 1rem;
    padding: .5rem 1rem;
    
}

.logo {
    display: flex;
    font-size: 1.7rem;
    color: white;
    /* text-decoration: none; */
    font-weight: bold;
    font-style: oblique;
   
    
}

nav {
    display: flex;
    gap: 1rem;
    /* flex: 1; */
    justify-content: space-around;
}

nav>a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;   
}

.cart-icon {
    size: 1rem;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.auth-btns {
    display: flex;
    gap: 1rem;
    align-items: center;
}

a {
    display: block;
}

#admin-dashboard-btn {
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
}

#admin-dashboard-btn:hover {
    background-color: green;
}