.dashboard,
.customers-container,
.orders-container,
.customers-container,
.products-container{
    width: 100%;
    height: 100vh;
    flex:1;
    display: flex;

}
.customers,.orders,.product-form{
    flex: 1;
    padding: 2rem;
}

